version: "3.5"

services:
  postgres-kbase:
    container_name: postgres-kbase
    image: postgres:${POSTGRES_VERSION}
    restart: on-failure
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    command: postgres -c 'config_file=/etc/postgresql/postgresql.conf'
    volumes:
      - ./.docker-volumes/postgres:/var/lib/postgresql/data
      - ./postgres/postgresql.conf:/etc/postgresql/postgresql.conf
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - ${POSTGRES_PORT}:5432
    networks:
      kbase-net:
        ipv4_address: 172.28.1.1

  liquibase-kbase:
    container_name: liquibase-kbase
    image: liquibase/liquibase:${LIQUIBASE_VERSION}
    restart: on-failure
    command: --defaultsFile=liquibase.properties update
    depends_on:
      - postgres-kbase
    volumes:
      - ./db/:/liquibase/changelog/
      - ./db/:/liquibase/classpath/
      - ./db/liquibase.properties:/liquibase/liquibase.properties
    networks:
      kbase-net:
        ipv4_address: 172.28.1.2

  know-base-service:
    container_name: know-base-service
    build: know-base-service
    restart: on-failure
    env_file:
      - .env
    depends_on:
      - postgres-kbase
    ports:
      - ${APP_PORT}:9000
    networks:
      kbase-net:
        ipv4_address: 172.28.1.3

networks:
  kbase-net:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
